:root {
  --background: #1a1a1a;
  --purple: #392165;
  --green: #60C689;
  --pink: #E91E63;
  --magenta: #9C2780;
  --white: #ECF0F1;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.material-icons {
  font-size: 1.8rem !important;

  cursor: default;
  vertical-align: bottom;

  color: var(--pink);
}

html {
  font-size: 62.5%; /* 1rem = 10px */

  box-sizing: inherit;

  scroll-behavior: smooth;
}

body {
  font-family: "Lemon";
  font-size: 1.8rem;

  overflow: hidden;

  width: 100vw;
  height: 100vh;

  color: var(--white);
  background-color: var(--background);
}

.content {
  max-width: 80rem;
  margin: auto;
  padding: 2rem;
  padding-top: 4rem;

  text-align: center;
}

/* Navigation */

.navbar {
  display: flex;
  align-items: center;

  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;

  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  margin-left: auto;
}

.navbar li {
  list-style: none;
}

.navbar a {
  margin-left: 1.6rem;
  padding: .6rem;

  text-decoration: none;
}

.navbar a:hover {
  color: #f1356d;
}

/* Home */

.button-list {
  max-width: 40rem;
  margin: auto;
}

.button-list > h2 {
  font-size: 4.2rem;

  margin-bottom: 10rem;
}

.button {
  margin: 20px 0;
  padding: 10px 16px;

  background-color: var(--purple);
}

a {
  font-size: 20px;

  margin-bottom: 8px;

  text-decoration: none;

  color: var(--white);
}

/* Map */

.map {
  overflow: hidden;

  height: 40vh;

  /* border: 1px solid blue; */
}

img {
  height: 100%;
}

/* Select type of checkpoint */

.cards {
  font-family: "Open Sans", sans-serif;

  display: grid;
  justify-content: center;

  margin: auto;

  gap: 1.5rem;
  row-gap: 2.5rem;
  grid-template-columns: 1fr 1fr;
}

.card-title {
  font-size: 1.4rem;
}

.card {
  min-width: 15rem;
  max-width: 30rem;
  padding: 20px;

  cursor: pointer;

  background-color: #FFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) , 0 1px 2px rgba( 0, 0, 0, 0.24);
}

.card .card-header {
  position: relative;

  overflow: hidden;

  height: 10rem;
  margin: -20px -20px 20px -20px;

  transition: height 0.5s;

  background-color: #E95A28;
}

/*
.card:nth-child(1n) {
  background-color: var(--purple);
}

.card:nth-child(2n) {
  background-color: var(--green);
}

.card:nth-child(3n) {
  background-color: var(--pink);
}

.card:nth-child(4n) {
  background-color: var(--magenta);
}
*/

.card .card-header .card-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  height: 100%;

  transition: transform 0.5s;
  transform: translateY(-50%) translateX( -50%);
}

.card .card-body {
  overflow: hidden;

  height: 4rem;

  transition: height 0.5s;
}

.card .card-body .card-title {
  font-size: 1.3em;
  font-weight: 600;

  text-transform: uppercase;

  color: #000;
}

.card .card-body .card-examples {
  margin-top: 10px;
}

.card .card-body .card-examples li {
  font-size: 1.6rem;

  margin-top: 5px;

  list-style: none;

  transition-delay: 0.5s;
  transition-duration: 0;
  transform: translateX(-100%);
  text-align: start;

  color: #424242;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25) , 0 10px 10px rgba( 0, 0, 0, 0.22);
}

.card:hover .card-header {
  height: 4rem;
}

.card:hover .card-header .card-icon {
  transform: translateX(-50%) translateY( -50%) scale( 5);
}

.card:hover .card-body {
  height: 10rem;
}

.card:hover .card-body .card-examples li {
  transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
  transition-duration: 0.5s;
  transform: translateX(0);
}

.card:hover .card-body .card-examples li:nth-child(1) {
  transition-delay: 0.25s;
}

.card:hover .card-body .card-examples li:nth-child(2) {
  transition-delay: 0.5s;
}

/*
If we ever want to make the cards bigger and add more Examples
.card:hover .card-body .card-examples li:nth-child(3) {
  transition-delay: 0.75s;
}

.card:hover .card-body .card-examples li:nth-child(4) {
  transition-delay: 1s;
}

.card:hover .card-body .card-examples li:nth-child(5) {
  transition-delay: 1.25s;
}

.card:hover .card-body .card-examples li:nth-child(6) {
  transition-delay: 1.5s;
}
*/

/* Form */

.create-checkpoint {
  max-width: 400px;
  margin: 0 auto;

  text-align: center;
}

.create-checkpoint label {
  display: block;

  text-align: left;
}

.create-checkpoint h2 {
  font-size: 20px;

  margin-bottom: 30px;

  color: #f1356d;
}

.create-checkpoint input,
.create-checkpoint textarea,
.create-checkpoint select {
  display: block;

  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
  padding: 6px 10px;

  border: 1px solid #ddd;
}

.create-checkpoint button {
  padding: 8px;

  cursor: pointer;

  color: #fff;
  border: 0;
  border-radius: 8px;
  background: #f1356d;
}
