:root {
  --background: #1a1a1a;
  --purple: #392165;
  --green: #60C689;
  --pink: #E91E63;
  --magenta: #9C2780;
  --white: #ECF0F1;
}

*,
*::after,
*::before {
  font-family: "Lemon";

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: var(--white);
}

.material-icons {
  font-size: 1.8rem !important;

  cursor: default;
  vertical-align: bottom;

  color: var(--Pink);
}

html {
  font-size: 62.5%; /* 1rem = 10px */

  box-sizing: inherit;

  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;

  overflow: hidden;

  max-width: 100vw;
  max-height: 100vh;
  padding: 4rem;

  background-color: var(--background);
}

/* Navigation */

.navbar {
  display: flex;
  align-items: center;

  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;

  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  margin-left: auto;
}

.navbar li {
  list-style: none;
}

.navbar a {
  margin-left: 1.6rem;
  padding: .6rem;

  text-decoration: none;
}

.navbar a:hover {
  color: #f1356d;
}

/* Home */

.content {
  max-width: 80%;
  margin: auto;

  text-align: center;
}

.button-list {
  max-width: 40rem;
  margin: auto;
}

.button-list > h2 {
  font-size: 4.2rem;

  margin-bottom: 10rem;
}

.button {
  margin: 20px 0;
  padding: 10px 16px;

  background-color: var(--purple);
}

a {
  font-size: 20px;

  margin-bottom: 8px;

  text-decoration: none;

  color: var(--white);
}

/* Map */

.map {
  overflow: hidden;

  height: 40vh;

  /* border: 1px solid blue; */
}

img {
  height: 100%;
}
